.app.dark {
    --bg-color: #0101a4;
    --inverted-bg-color: #e7e7e7;
    --primary-color: #018001;
    --secondary-color: #00b200;
    --inverted-primary-color: #002085;
    --inverted-secondary-color: #0049d0;
}
