.app.light {
  --bg-color: #e7e7e7;
  --inverted-bg-color: #0101a4;

  --primary-color: #002085;
  --secondary-color: #0049d0;
  --inverted-primary-color: #018001;
  --inverted-secondary-color: #00b200;
}